@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.bgdicegame {
    background-color: #e10162;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d2005b' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.btn {
    background-color: white;
    color: black;
    border: black 2px solid;
}

.modal-body {
    background: rgb(38,38,38);
background: linear-gradient(38deg, rgba(38,38,38,1) 0%, rgba(29,29,29,1) 100%);
}

.rules-txt {
    color: white;
    text-align: center;

}

.inputPlayers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .inputPlayer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
  }
  
  .scoreToGet {
    display: inline-block;
    text-align: center;
    margin: 1rem 0;
  }
  
   
  .playerTitleUnLabel,
  .playerTitleDeuxLabel,
  .scoreToGetLabel {
    color: white;
    margin-bottom: 10px;
  }
  
  #playerTitleUnInput,
  #playerTitleDeuxInput,
  #scoreToGetInput {
    border: 1px solid #000000;
text-align: center;
    padding: 3px;
    width: 200px;
  }
  
  #scoreToGetInput {
    font-weight: bold;
    text-align: center;
    width: 80px;
  }
  
  .modal-footer {
    justify-content: center;
  }
  
  .player-title1, .player-title2 {
    font-size: x-large;
  }
 
.bouton-securiser {
    border-radius: 5px;
}




  /* media queries*/

  @media screen and (min-width : 1000px) {
    h1 {
      text-shadow: 5px 0 #232931;
    }
   
   
  
    .players {
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 3rem 0;
    }
  
  
    }
     @media screen and (max-width : 991px) {
        .player1 {
            border-top-left-radius : 50px;
            border-top-right-radius : 50px;
        }
        .player2 {
            border-bottom-left-radius : 50px;
            border-bottom-right-radius : 50px;
        }
    }
    @media screen and (min-width : 991px) {
    .player1 {
        border-top-left-radius : 50px;
        border-bottom-left-radius : 50px ;
        
    }
    .player2 {
      border-top-right-radius : 50px;
      border-bottom-right-radius : 50px;
      
  }
}